.UP {
    border: 2px red solid;
    width: 800px;
    text-align: center;
    overflow: hidden;
    padding: 0px;
    background-color: #eee;
    
}

.UP div {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
}

.WC1-3 div {
    background-color: #9d9a9a;
    float: left;
    margin-left: 15px;
    width: calc((100% - 15px * 4) / 3);
}

.WC1-2 div {
    float: left;
    background-color: #9d9a9a;
    margin-left: 15px;
    width: calc((100% - (15px * 3)) / 2);
}

.WC1-4 div {
    float: left;
    margin-left: 15px;
    background-color: #9d9a9a;
    width: calc((100% - 15px * 5) / 4);
}

.Full {
    background-color: #9d9a9a;
    margin-left: 15px;
    margin-right: 15px;
}