div {
    background-color: blueviolet;
    padding: 20px;
    margin-left: 50%;
    margin-bottom: 10px;
    width: 500px;
    color: white;
    font-style: bold;
}

.Assign1-shape2 {
    opacity: 50%;
}

.Assegn1-shape3 {
    opacity: 10%;
}