div {
  padding: 10px;
  background-color: #eee;
  text-align: center;
  width: 120px;
  color: white;
  position: absolute;
}

.one {
  background-color: red;
  left: 20px;
  top: 20px;
  z-index: 3;
}

.two {
  background-color: green;
  left: 15px;
  top: 15px;
  z-index: 3;
}

.three {
  background-color: blue;
  z-index: 3;
}